<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<div id="summoner-form">
<%= simple_form_for(@summoner) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :summoner_name %>
    <%= f.input :server, collection: ['NA', 'EUW', 'EUNE', 'OCE', 'RU', 'TR', 'BR', 'LAN', 'LAS'] %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

</div>