<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<div id="summoner-form">
<<<<<<< Updated upstream
<%= simple_form_for @summoner, remote: true do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :summoner_name %>
    <%= f.input :server, collection: ['NA', 'EUW', 'EUNE', 'OCE', 'RU', 'TR', 'BR', 'LAN', 'LAS'] %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

=======
  <fieldset>
    <%= simple_form_for @summoner do |f| %>
      <%= f.error_notification %>
        <%= f.input :summoner_name, placeholder: "Summoner Name Goes Here", label: false %>
        <ul class="button-group dabba">
          <li><%= f.input :server, collection: ['NA', 'EUW', 'EUNE', 'OCE', 'RU', 'TR', 'BR', 'LAN', 'LAS'], class: 'button dropdown', input_html: {data: {dropdown: 'drop'}, class: 'dropdown button secondary yabba'}, prompt: "Server", label: false %></li>
          <li><%= f.button :submit, class: 'button' %></li>
        </ul>
    <% end %>
  </fieldset>
>>>>>>> Stashed changes
</div>


<h3>Summoners: <h3>
<div id="summoners">
  <% if @user.summoners.empty? %>
    <p class="empty_summoners"><%= link_to 'Create some summoners foo!', new_summoner_path() %> </p>
  <% else %>  
    <% @user.summoners.each do |summoner| %>
        <p>Summoner: <%= link_to summoner.summoner_name, summoner %></p>
       <%# raise @summoners %>
    <% end %>
  <% end %>
</div>
